/*PRODUCT*/
.title{
  margin-bottom: 50px;
  h2{
    text-transform: uppercase;
    color: $color-1;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
  }
  .line{
    height: 2px;
    background-color: $color-main;
    width: 100px;
    margin: 0 auto;
  }
}

.gb-product-home{
  padding: 40px 0;
}
.gb-product-top{
  border-bottom: 1px solid $color-border;
  h2{
    text-transform: uppercase;
    color: #3f3939;
    font-size: 18px;
    line-height: 38px;
    font-weight: bold;
  }
  .panel-heading{
    padding: 0;
  }
  .gb-prodct-top-tab{
    position: relative;
    .icons-nav-product{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border: 1px solid $color-main;
      position: absolute;
      top: -39px;
      right: 95px;
      border-radius: 3px;
      @media screen and (min-width: 992px) {
        display:  none;
      }
    }
    ul{
      border-bottom: none;
      float: right;
      @media screen and  (max-width: 992px){
        display: none;
        float: none;
        border: 1px solid $color-border;
        position: absolute;
        width: 100%;
        background: $color-white;
        z-index: 9999999999999;
      }
      li{
        @media screen and  (max-width: 992px){
          float: none;
        }
        &.active{
          border-top: 1px solid $color-main;
        }
        a{
          font-weight: 400;
          color: #333;
          font-size: 13px;
          border-radius: 0;
          margin-right: 0;
        }
        i{
          float: right;
        }

      }
    }
  }
}

.gb-btn-xemtatca{
  text-align: center;
  a{
    display: inline-block;
    min-width: 170px;
    color: $color-white;
    background: $color-main;
    text-align: center;
    padding: 15px 0;
    border: 2px solid $color-main;
    transition:  all 0.5s;
    &:hover{
      color: $color-main;
      background: transparent;
    }
  }
}

.gb-product-show{
  margin-top: 30px;
  .panel-body{
    padding: 0;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.product-item{
  position: relative;
  border: 1px solid $color-border;
  margin-bottom: 30px;
  transition:  all 0.5s;
  &:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    .item-img{
      .gb-addtocart{
        opacity: 1;
      }
    }
  }
  .item-img{
    position:  relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-bottom: 1px solid $color-border;
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      height: 220px;
    }
    @media screen and (max-width: 991px) {
      height: auto;
    }
    img{
      width: 100%;
      height: auto;
      transition: all 0.5s;
      &:hover{
        transform: scale(1.1);
      }
    }
    .gb-addtocart{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 100%;
      opacity: 0;
      transition:  all 0.5s;
    }
  }
  .item-text{
    padding: 10px;
    h2{
      a{
        display: block;
        color: #000;
        line-height: 1.5;
        font-weight: 500;
        font-style: italic;
        font-size: 13px;
        transition:  all 0.5s;
        min-height: 45px;
        text-align: center;
        &:hover{
          color: $color-main;
        }
      }
    }
    .gb-product-des{
      color: $color-grey;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      line-height: 1.5;
      margin: 10px 0;
    }
  }
}
.gb-product-show_slide{
  .owl-nav [class*=owl-]{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: transparent !important;
    border: 1px solid $color-main;
  }
  .owl-item{
    padding-top: 20px;
  }
  .owl-nav{
    position: absolute;
    top: -90px;
    right: -15px;
    margin-top: 0 !important;
    @media screen and (max-width: 767px) {
      top: -78px !important;
    }
    .owl-prev{
      &:before{
        content: '\f104';
        font-family: FontAwesome;
        color: $color-1;
        font-size: 20px;
      }
    }
    .owl-next{
      &:before{
        content: '\f105';
        font-family: FontAwesome;
        color: $color-1;
        font-size: 20px;
      }
    }
  }
}




